html,
body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-color: #f39c12;
  --secondary-color: #d35400;
}

body {
  background: #297fa2;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  color: #ffffff;
}

header {
  display: flex;
  min-width: 720px;
  width: 720px;
  margin: 60px auto;
  align-items: center;
  height: 75px;
}

.separator {
  flex: 1;
}

h1 {
  font-weight: 200;
  font-size: 60px;
  letter-spacing: 20px;
  margin: 0;
}

button {
  cursor: pointer;
}

.controls button {
  font-size: 14px;
  background: none;
  color: #ffffff;
  border: solid 2px #ffffff;
  padding: 10px 20px;
  border-radius: 30px;
}

.no-game-padding {
  height: 105px;
}

.game {
  width: 720px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.board {
  display: flex;
  flex-direction: column;
  position: relative;
}

.side {
  background: var(--primary-color);
  height: 180px;
  border: 10px solid var(--secondary-color);
  border-radius: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pit,
.hand {
  width: 90px;
  height: 90px;
  border-radius: 45px;
  background: var(--secondary-color);
  margin: 0 8px;
  position: relative;
  border: 0;
  padding: 0;
  color: #ffffff;
}

.hand {
  position: absolute;
  top: 135px;
  left: 42px;
  background: none;
  pointer-events: none;
  z-index: 2;
  transform: scale(1.2);
}

.hand .seed {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.side.disabled .pit {
  cursor: not-allowed;
}

.pit .pit-summary {
  top: 0;
  width: 90px;
  height: 90px;
  position: absolute;
  z-index: 1;
  background: #d3540099;
  line-height: 90px;
  font-size: 30px;
  font-weight: bold;
  opacity: 0%;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border-radius: 45px;
}

.seed {
  height: 20px;
  width: 25px;
  border-radius: 10px;
  background: #e5edff;
  border: 2px solid var(--secondary-color);
  position: absolute;
  top: calc(45px - 7.5px);
  left: calc(45px - 15px);
}

.player {
  margin: 5px 0;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  display: none;
}

.player .turn-badge {
  font-size: 14px;
  font-style: italic;
  line-height: 12px;
  height: 14px;
  margin: 3.5px 10px;
  position: absolute;
  font-weight: 400;
}

.player .player-name {
  height: 25px;
  display: flex;
  align-items: center;
}

.player .captured {
  height: 70px;
}
